<section id="benefits" class="py-20 bg-white">
  <div class="container mx-auto px-6 text-center">
    <h2
      data-aos="fade-up"
      class="text-3xl md:text-4xl font-bold text-brand-blue-dark mb-4"
    >
      Beneficios de la Cirugía Bariátrica que transforman tu vida
    </h2>
    <p
      data-aos="fade-up"
      class="text-lg text-brand-gray max-w-3xl mx-auto mb-12"
    >
      Más allá de la pérdida de peso, la cirugía bariátrica mejora
      significativamente tu salud general y calidad de vida.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        data-aos="fade-up"
        data-aos-delay="100"
        class="bg-brand-gray-light p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
      >
        <div class="text-brand-blue mb-4">
          <svg
            class="w-14 h-14 mx-auto"
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M12 20.02q-.238 0-.478-.096q-.24-.095-.41-.286l-6.316-6.34q-.875-.875-1.336-1.971Q3 10.231 3 9.083Q3 6.93 4.348 5.427t3.31-1.504q1.026 0 1.974.427q.947.427 1.695 1.2l.673.712l.635-.673q.761-.812 1.718-1.239t1.964-.427q1.962 0 3.323 1.504T21 9.057q0 1.168-.463 2.264q-.464 1.096-1.333 1.971l-6.34 6.347q-.191.19-.408.285t-.456.095M13 8.5q.135 0 .244.058q.11.058.177.161l1.835 2.781h4.073q.348-.579.522-1.199t.155-1.243q-.031-1.725-1.093-2.924q-1.061-1.2-2.596-1.2q-.813 0-1.583.33q-.77.328-1.334.961l-.906.975q-.105.13-.228.18T12 7.429t-.275-.059t-.244-.17l-.906-.975q-.563-.633-1.33-.967q-.768-.335-1.587-.335q-1.535 0-2.596 1.205T4 9.058q0 .642.171 1.253t.5 1.189H9q.135 0 .235.058t.167.161l1.452 2.166l1.677-5.031q.061-.165.18-.26T13 8.5m.146 1.616l-1.677 5.03q-.061.166-.192.26t-.302.094q-.134 0-.234-.058t-.168-.161L8.719 12.5h-3.3l6.406 6.425q.05.05.088.063T12 19t.088-.012t.087-.063l6.4-6.425H15q-.134 0-.244-.067t-.183-.171z"
            ></path></svg
          >
        </div>
        <h3 class="text-xl font-bold text-brand-blue-dark mb-2">
          Mejora de la salud metabólica
        </h3>
        <p class="text-brand-gray-dark">
          La cirugía bariátrica resultó en remisión de diabetes tipo 2 en
          aproximadamente el <span class="font-bold">77% de los casos</span> a los
          2 años postquirúrgicos.
        </p>
      </div>
      <div
        data-aos="fade-up"
        data-aos-delay="200"
        class="bg-brand-gray-light p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
      >
        <div class="text-brand-blue mb-4">
          <svg
            class="w-14 h-14 mx-auto"
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M12 11.385q-1.237 0-2.119-.882T9 8.385t.881-2.12T12 5.386t2.119.88t.881 2.12t-.881 2.118t-2.119.882m-7 7.23V16.97q0-.619.36-1.158q.361-.54.97-.838q1.359-.64 2.709-.98t2.711-.377h.08q-.082.205-.114.405q-.031.2-.031.414q0 .769.262 1.506t.932 1.407l1.292 1.268zm12.535 0l-2.962-2.961q-.287-.287-.395-.597q-.109-.312-.109-.623q0-.68.483-1.21t1.24-.532q.602 0 .945.277q.344.277.798.731q.442-.442.79-.725t.961-.283q.781 0 1.248.532T21 14.436q0 .319-.121.638q-.121.318-.383.58z"
            ></path></svg
          >
        </div>
        <h3 class="text-xl font-bold text-brand-blue-dark mb-2">
          Aumento de la Calidad de Vida
        </h3>
        <p class="text-brand-gray-dark">
          <span class="font-bold"> Más del 90% de los pacientes </span>
          reportaron una mejora significativa en la calidad de vida, incluyendo aspectos
          emocionales y físicos.
        </p>
      </div>
      <div
        data-aos="fade-up"
        data-aos-delay="300"
        class="bg-brand-gray-light p-8 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
      >
        <div class="text-brand-blue mb-4">
          <svg
            class="w-14 h-14 mx-auto"
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path
                d="M3 7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4z"
              ></path><path
                d="M12 7c1.956 0 3.724.802 5 2.095l-2.956 2.904a3 3 0 0 0-2.038-.799a3 3 0 0 0-2.038.798L7.012 9.095a6.98 6.98 0 0 1 5-2.095z"
              ></path></g
            ></svg
          >
        </div>
        <h3 class="text-xl font-bold text-brand-blue-dark mb-2">
          Perdida de peso sostenible
        </h3>
        <p class="text-brand-gray-dark">
          Los pacientes sometidos a cirugía bariátrica perdieron entre el <span
            class="font-bold"
            >50% y el 70% del exceso de peso en los primeros 18 meses</span
          > postoperatorios.
        </p>
      </div>
    </div>
  </div>
</section>
