<section id="faq" class="py-20 bg-brand-gray-light">
  <div class="container mx-auto px-6">
    <div data-aos="fade-up" class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold text-brand-blue-dark mb-4">
        Preguntas Frecuentes
      </h2>
      <p class="text-lg text-brand-gray max-w-3xl mx-auto">
        Resolvemos algunas de las dudas m谩s comunes de nuestros pacientes.
      </p>
    </div>

    <div class="max-w-3xl mx-auto space-y-4">
      <details
        data-aos="fade-up"
        class="group bg-white p-4 rounded-lg shadow-md overflow-hidden"
      >
        <summary
          class="flex justify-between items-center font-bold text-lg text-brand-blue-dark cursor-pointer list-none"
        >
          驴Qui茅nes son posibles candidatos a la cirug铆a?
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <div
          class="faq-content transition-all duration-500 ease-in-out max-h-0 opacity-0"
        >
          <p class="text-brand-gray-dark mt-4">
            Generalmente, son candidatos los pacientes con un ndice de Masa
            Corporal (IMC) mayor a 40, o mayor a 35 si presentan enfermedades
            asociadas como diabetes o hipertensi贸n. La decisi贸n final se toma
            tras una evaluaci贸n m茅dica completa.
          </p>
        </div>
      </details>

      <details
        data-aos="fade-up"
        class="group bg-white p-4 rounded-lg shadow-md"
      >
        <summary
          class="flex justify-between items-center font-bold text-lg text-brand-blue-dark cursor-pointer list-none"
        >
          驴Qu茅 estudios debo realizar previo a la cirug铆a? <span
            class="transition group-open:rotate-180"
          >
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"><path d="M6 9l6 6 6-6"></path></svg
            >
          </span>
        </summary>
        <div
          class="faq-content transition-all duration-500 ease-in-out max-h-0 opacity-0"
        >
          <p class="text-brand-gray-dark mt-4 mb-4">
            Previo a la cirug铆a se deben realizar los siguiente estudios:
          </p>
          <ul class="list-disc list-inside">
            <li>Laboratorio completo</li>
            <li>Electrocardiograma y evaluaci贸n cardiol贸gica</li>
            <li>Espirometr铆a y evaluaci贸n neumonol贸gica</li>
            <li>Ecograf铆a abdominal</li>
            <li>Endoscop铆a digestiva alta</li>
          </ul>
        </div>
      </details>

      <details
        data-aos="fade-up"
        class="group bg-white p-4 rounded-lg shadow-md"
      >
        <summary
          class="flex justify-between items-center font-bold text-lg text-brand-blue-dark cursor-pointer list-none"
        >
          驴Qu茅 seguimiento se realiza despu茅s de la cirug铆a? <span
            class="transition group-open:rotate-180"
          >
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"><path d="M6 9l6 6 6-6"></path></svg
            >
          </span>
        </summary>
        <div
          class="faq-content transition-all duration-500 ease-in-out max-h-0 opacity-0"
        >
          <p class="text-brand-gray-dark mt-4 mb-4">
            Al igual que en el preoperatorio, es fundamental mantener controles
            peri贸dicos con todo el equipo m茅dico tras la cirug铆a. El objetivo de
            estos controles es:
          </p>
          <ul class="list-disc list-inside">
            <li>
              Evaluar la adherencia al plan alimentario, que ir谩 avanzando de
              forma progresiva.
            </li>
            <li>
              Supervisar el descenso de peso para asegurar que se desarrolle de
              manera saludable.
            </li>
            <li>
              Analizar nuevos estudios de laboratorio y otros ex谩menes de
              control seg煤n sea necesario.
            </li>
            <li>
              Brindar acompa帽amiento en esta etapa de cambios, promoviendo el
              bienestar general del paciente.
            </li>
          </ul>

          <p class="text-brand-gray-dark mt-4">
            Un seguimiento adecuado es clave para consolidar los resultados y
            mantener una buena calidad de vida.
          </p>
        </div>
      </details>

      <details
        data-aos="fade-up"
        class="group bg-white p-4 rounded-lg shadow-md"
      >
        <summary
          class="flex justify-between items-center font-bold text-lg text-brand-blue-dark cursor-pointer list-none"
        >
          驴Qu茅 tipos de procedimientos realizamos? <span
            class="transition group-open:rotate-180"
          >
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"><path d="M6 9l6 6 6-6"></path></svg
            >
          </span>
        </summary>
        <div
          class="faq-content transition-all duration-500 ease-in-out max-h-0 opacity-0"
        >
          <p class="text-brand-gray-dark mt-4 mb-4">
            En Bari谩trica Integral ofrecemos diferentes opciones para el
            tratamiento de la obesidad y enfermedades metab贸licas, adaptadas a
            las necesidades de cada paciente:
          </p>
          <ul class="list-disc list-inside">
            <li>
              <span class="font-bold">
                Gastrectom铆a tubular Laparosc贸pica o Manga G谩strica ┖
              </span>
              Este procedimiento consiste en retirar un porcentaje del est贸mago,
              dejando una parte en forma de tubo o manga estrecha. Al reducir la
              capacidad del est贸mago, se restringe la cantidad de alimentos que se
              pueden ingerir, ayudando a controlar el apetito y favorecer la p茅rdida
              de peso.
            </li>
            <li>
              <span class="font-bold"> Bypass G谩strico  </span>
              En esta cirug铆a, se reduce el tama帽o del est贸mago y se conecta directamente
              a una parte m谩s adelantada del intestino delgado. Este procedimiento
              no solo limita la cantidad de alimentos que se pueden comer, sino que
              tambi茅n reduce la absorci贸n de calor铆as y nutrientes, facilitando la
              p茅rdida de peso.
            </li>
            <li>
              <span class="font-bold"> Cirug铆a Metab贸lica К </span>
              Indicada especialmente para pacientes con diabetes tipo 2 y otras enfermedades
              metab贸licas, esta cirug铆a busca restablecer niveles normales de glucosa
              en sangre. Tanto la manga g谩strica como el bypass g谩strico se utilizan
              como t茅cnicas de cirug铆a metab贸lica, y combinadas con un cambio en
              el estilo de vida, pueden lograr la remisi贸n de la diabetes sin necesidad
              de medicaci贸n.
            </li>
            <li>
              <span class="font-bold"> Bal贸n G谩strico  </span>
              El bal贸n g谩strico es un tratamiento m铆nimamente invasivo y reversible
              para la p茅rdida de peso. Consiste en la colocaci贸n de un bal贸n de silicona
              dentro del est贸mago mediante un procedimiento endosc贸pico, sin necesidad
              de cirug铆a. Una vez inflado con soluci贸n salina o aire, ocupa espacio
              en el est贸mago, lo que genera una sensaci贸n de saciedad y reduce la
              cantidad de alimentos que se pueden ingerir. Este tratamiento es temporal,
              ya que el bal贸n debe retirarse despu茅s de un per铆odo determinado (generalmente
              entre 6 y 12 meses). Durante este tiempo, el paciente trabaja en modificar
              sus h谩bitos alimenticios y su estilo de vida para mantener los resultados
              a largo plazo. Ideal para personas con sobrepeso u obesidad que buscan
              una alternativa no quir煤rgica, el bal贸n g谩strico ofrece una opci贸n
              segura y efectiva para iniciar el camino hacia un peso saludable.
            </li>
            <li>
              <span class="font-bold"> Tratamiento Farmacol贸gico  </span>
              Esta opci贸n consiste en el uso de medicamentos aprobados para el tratamiento
              de la obesidad, cuyo objetivo es controlar el apetito, reducir la absorci贸n
              de grasas o regular el metabolismo. El tratamiento farmacol贸gico es
              indicado y supervisado por un profesional de la salud y suele combinarse
              con un plan de alimentaci贸n saludable y actividad f铆sica para obtener
              mejores resultados.
            </li>
          </ul>
        </div>
      </details>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const detailsElements = document.querySelectorAll("details");

    detailsElements.forEach((details) => {
      details.addEventListener("toggle", () => {
        const content = details.querySelector(".faq-content");
        if (details.open) {
          // Si el acorde贸n se abre
          content?.classList.remove("max-h-0", "opacity-0");
          content?.classList.add("max-h-screen", "opacity-100");
        } else {
          // Si el acorde贸n se cierra
          content?.classList.remove("max-h-screen", "opacity-100");
          content?.classList.add("max-h-0", "opacity-0");
        }
      });
    });
  });
</script>
