---
import Header from "./Header.astro";

const heroImage = `${import.meta.env.BASE_URL}hero-image.png`;
---

<section id="home" class="bg-brand-gray-light min-h-dvh">
  <div
    data-aos="fade-up"
    class="container mx-auto px-6 py-20 lg:py-32 flex flex-col md:flex-row items-center"
  >
    <div class="md:w-1/2 lg:w-3/5 text-center md:text-left mb-12 md:mb-0">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-brand-blue-dark leading-tight mb-4"
      >
        Cirugía Bariátrica: Un cambio de vida, seguro y profesional.
      </h1>
      <p class="text-lg text-brand-gray-dark mb-8 max-w-xl mx-auto md:mx-0">
        Nuestro equipo multidisciplinario te acompaña en cada paso hacia una
        vida más saludable y plena. Recupera tu bienestar con un tratamiento
        integral y personalizado.
      </p>
      <a
        href="https://wa.me/5491127184661?text=Hola%21+quiero+mas+información+sobre+el+procedimiento..."
        target="_blank"
        class="inline-block bg-brand-blue text-white font-bold text-lg py-4 px-10 rounded-full hover:bg-brand-blue-dark transition-transform duration-300 hover:scale-105 shadow-lg"
      >
        Iniciá tu evaluación
      </a>
    </div>

    <div class="md:w-1/2 lg:w-2/5 flex justify-center md:justify-end">
      <img
        src={heroImage}
        alt="Doctor sonriendo a un paciente"
        class="rounded-lg w-full max-w-md"
      />
    </div>
  </div>
</section>
