<section id="treatment-steps" class="py-20 bg-brand-gray-light">
  <div class="container mx-auto px-6">
    <div data-aos="fade-up" data-aos-delay="200" class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold text-brand-blue-dark mb-4">
        Tu camino hacia el bienestar
      </h2>
      <p class="text-lg text-brand-gray max-w-3xl mx-auto">
        Te acompañamos en un proceso claro y estructurado, diseñado para tu
        seguridad y éxito a largo plazo.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Step 1 -->
      <div
        data-aos="flip-left"
        data-aos-duration="1000"
        class="bg-white rounded-xl shadow-xl p-8 text-center flex flex-col gap-4"
      >
        <div
          class="w-16 h-16 mx-auto mb-4 bg-brand-blue text-white rounded-full flex items-center justify-center font-extrabold text-2xl"
        >
          1
        </div>
        <h3 class="font-bold text-brand-blue-dark text-xl">
          Contacto y Evaluación Inicial
        </h3>
        <p>
          El primer paso para transformar tu salud comienza con una consulta
          personalizada con nuestro equipo multidisciplinario. Durante esta
          etapa:
        </p>

        <ul class="list-disc list-inside text-sm text-brand-gray-dark">
          <li>
            Realizamos una evaluación completa de tu historia clínica, hábitos
            alimenticios y estado de salud actual.
          </li>
          <li>
            Identificamos las condiciones asociadas a la obesidad, como diabetes
            o hipertensión.
          </li>
          <li>
            Resolvemos todas tus dudas y explicamos las opciones disponibles
            para tu tratamiento.
          </li>
        </ul>
      </div>

      <!-- Step 2 -->
      <div
        data-aos="flip-left"
        data-aos-duration="1000"
        class="bg-white rounded-xl shadow-xl p-8 text-center flex flex-col gap-4"
      >
        <div
          class="w-16 h-16 mx-auto mb-4 bg-brand-blue text-white rounded-full flex items-center justify-center font-extrabold text-2xl"
        >
          2
        </div>
        <h3 class="font-bold text-brand-blue-dark text-xl">
          Diagnóstico y Plan Personalizado
        </h3>
        <p class="text-brand-gray-dark">
          Cada paciente es único, por eso diseñamos un plan a tu medida que
          incluye:
        </p>
        <ul class="list-disc list-inside text-sm text-brand-gray-dark">
          <li>
            Diagnóstico integral: Basado en tus resultados médicos y objetivos
            personales.
          </li>
          <li>
            Plan de acción: Nuestro equipo de cirujanos, psicólogos y
            nutricionistas crea un enfoque personalizado para asegurar los
            mejores resultados.
          </li>
          <li>
            Te brindamos información clara sobre el procedimiento, sus
            beneficios y los pasos previos necesarios.
          </li>
        </ul>
      </div>

      <!-- Step 3 -->
      <div
        data-aos="flip-left"
        data-aos-duration="1000"
        class="bg-white rounded-xl shadow-xl p-8 text-center flex flex-col gap-4"
      >
        <div
          class="w-16 h-16 mx-auto mb-4 bg-brand-blue text-white rounded-full flex items-center justify-center font-extrabold text-2xl"
        >
          3
        </div>
        <h3 class="font-bold text-brand-blue-dark text-xl">
          Cirugía o Tratamiento
        </h3>
        <p>Dependiendo de tus necesidades, avanzamos hacia:</p>

        <ul class="list-disc list-inside text-sm text-brand-gray-dark">
          <li>
            Cirugía bariátrica: Un procedimiento seguro y efectivo para el
            tratamiento de la obesidad y sus comorbilidades.
          </li>
          <li>
            Opciones no quirúrgicas: Tratamientos médicos y psicológicos para
            abordar la obesidad desde un enfoque integral, en caso de no ser
            candidato a cirugía en esta etapa. Tratamiento Farmacológico y manga
            gástrica endoscópica.
          </li>
        </ul>
      </div>

      <!-- Step 4 -->
      <div
        data-aos="flip-left"
        data-aos-duration="1000"
        class="bg-white rounded-xl shadow-xl p-8 text-center flex flex-col gap-4"
      >
        <div
          class="w-16 h-16 mx-auto mb-4 bg-brand-blue text-white rounded-full flex items-center justify-center font-extrabold text-2xl"
        >
          4
        </div>
        <h3 class="font-bold text-brand-blue-dark text-xl">
          Seguimiento Postoperatorio
        </h3>
        <p class="text-brand-gray-dark">
          El éxito no termina en la cirugía; te acompañamos en cada paso de tu
          transformación:
        </p>
        <ul class="list-disc list-inside text-sm text-brand-gray-dark">
          <li>Monitoreamos tu recuperación con consultas regulares.</li>
          <li>
            Ajustamos tu plan nutricional y psicológico para ayudarte a mantener
            tus resultados.
          </li>
          <li>
            Nuestro equipo está siempre disponible para resolver tus inquietudes
            y asegurarte una experiencia positiva.
          </li>
        </ul>
      </div>
    </div>

    <div data-aos="zoom-in" class="text-center mt-12">
      <a
        href="#contacto"
        class="bg-brand-blue text-white font-bold rounded-full shadow-lg transition-transform duration-300 hover:scale-105 hover:bg-brand-blue-dark text-base py-3 px-6 md:text-lg md:py-4 md:px-10"
      >
        ¿Tenés dudas? ¡Consultanos!
      </a>
    </div>
  </div>
</section>
